<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/<%= cssName %>.css">
    <title>Almas Colour Coating</title>
    <link rel="shortcut icon" href="resources/logo4.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/27c4e72872.js" crossorigin="anonymous"></script>
</head>

<body>