<nav class="navbar">
    <div class="logo">
        <img src="resources/logo.png" alt="Company Logo">
    </div>
    <button class="mobile-toggle" id="mobile-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <ul class="nav-list" id="nav-list">
        <li class="<%= activePage === 'Home' ? 'active' : '' %>"><a href="/">Home</a></li>
        <li class="<%= activePage === 'services' ? 'active' : '' %>"><a href="/services">Services</a></li>
        <li class="<%= activePage === 'projects' ? 'active' : '' %>"><a href="/projects">Projects</a></li>
        <li class="<%= activePage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
    </ul>
    <ul class="connect-list">
        <li><a href="/contact"><i class="fa-solid fa-comment-dots fa-lg" style="color: #ffffff;"></i> &nbsp;Connect
                with
                us </a></li>
    </ul>
</nav>