<%- include('./partials/header', {cssName:cssName}) %>

    <%- include('./partials/navbar', { activePage: activePage }) %>

<section class="about-section">
    <div class="about-content">
        <h1>About Us</h1>
       <p> Almas Colour Coating is a professional sandblasting and painting company that has been serving clients in All over
        India for 21 years. We specialize in providing high-quality sandblasting and painting services for a wide range of
        industrial, commercial, and residential clients.</p>
        <p>Our team of experienced professionals is dedicated to delivering exceptional results on every project we undertake.
        We use the latest equipment and techniques to ensure that each surface is properly prepared for painting or other
        finishing work, and we take great care to protect surrounding areas from damage or contamination. </p>
        <p>We are dedicated to giving you the very best services of Blasting and paint coating, with a view of focusing
            on our three characteristics: dependability, customer service, and uniqueness.</p>
        <p>Initially founded as Almas Colour Coating in 2002 by Mr. Azad Khan, Almas Colour Coating has come a long way
            from its beginnings in a small shed in Mumbai, India.</p>
        <p>When Mr. Azad Khan first started out, his passion for providing the best service with a reasonable rate
            without harming the environment drove him to do intense research and gave them the impetus to turn hard work
            and inspiration into a booming large plant in Rudrapur, Uttarakhand.</p>
        <p>We are committed to delivering exceptional results for our clients, and we look forward to the opportunity to
            work with you on your next sandblasting or painting project. Contact us today to learn more about our
            services and how we can help you achieve your goals.</p>
    
    </div>
    <div class="about-image">
        <!-- <img src="resources/owner.jpg" alt=""> -->
    </div>
</section>
<%- include('./partials/footer') %>