<%- include('./partials/header') %>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="resources/logo.png" alt="Company Logo">
        </div>
        <button class="mobile-toggle" id="mobile-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </button>
        <ul class="nav-list" id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li ><a href="/projects">Our Projects</a></li>
            <li class="active"><a href="/about">About Us</a></li>
        </ul>
        <ul class="connect-list">
            <li><a href="/contact"><i class="fa-solid fa-headset fa-xl" style="color: #787878;"></i> &nbsp;Connect with
                    us </a></li>
        </ul>
    </nav>

<section class="about-section">
    <div class="about-content">
        <h1>About Us</h1>
        <p>We are dedicated to giving you the very best services of Blasting and paint coating, with a view of focusing
            on our three characteristics: dependability, customer service, and uniqueness.</p>
        <p>Initially founded as Almas Colour Coating in 2002 by Mr. Azad Khan, Almas Colour Coating has come a long way
            from its beginnings in a small shed in Mumbai, India.</p>
        <p>When Mr. Azad Khan first started out, his passion for providing the best service with a reasonable rate
            without harming the environment drove him to do intense research and gave them the impetus to turn hard work
            and inspiration into a booming large plant in Rudrapur, Uttarakhand.</p>
        <p>We are committed to delivering exceptional results for our clients, and we look forward to the opportunity to
            work with you on your next sandblasting or painting project. Contact us today to learn more about our
            services and how we can help you achieve your goals.</p>
    
    </div>
    <div class="about-image">
        <!-- <img src="resources/owner.jpg" alt=""> -->
    </div>
</section>
<%- include('./partials/footer') %>