<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Your Business Website</title>
    <script src="https://kit.fontawesome.com/27c4e72872.js" crossorigin="anonymous"></script>
<style>
body{


    
}
.contact-container{
    padding: 1.5rem 3rem;
    
}
.contact-block{
        background-color: aliceblue;
        padding: 1rem 5rem;
        border: 1px solid grey;
        box-shadow: 1px 1px 1px solid black;
        margin: 1rem 0;
        height:8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .5rem;

    }
</style>
</head> 

<body>
    <nav class="navbar">
        <div class="logo">
           <a href="/"> <img src="resources/logo.png" alt="Company Logo"></a>
        </div>
       
    </nav>

<div class="contact-container">
    <h2>Connect with us here </h2>
    <div class="contact-block">
        <h3>For queries and help contact us here:</h3>
        Email: azadk522@gmail.com
    </div>
    <div class="contact-block">
        <h3>Reach us on phone here:</h3>
       Phone: +91 9760887400
    </div>
    <div class="contact-block">
        <h3>Visit our our main office here:</h3>
        Address: F-99 Almas House, Near Shri Guru Nanank Degree College, Rudrapur-263153, Uttarakhand
    </div>
</div>
    <!-- footer  -->
    <footer>
        <div class="footerPart1">
            <div class="column-logo">
                <img src="resources/footerlogo1.png" class="logoimg" alt="logo of site">
            </div>
    
            <div class="column-social">
                <h4>Our Social</h4>
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/aman_pri777/?hl=en"><i class="fa-brands fa-instagram fa-lg"></i>
                            Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook fa-lg"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter fa-lg"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin fa-lg"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="column-about">
                <h4>Info</h4>
                <ul class="footer-links">
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact"> Contact Us &nbsp;<i class="fa-regular fa-comments"
                                style="color: #ffffff;"></i></a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Terms & Condition</a></li>
                </ul>
            </div>
    
            <div class="column-info">
    
                <img src="/resources/footerlogo.png" alt="" class="footer-img">
    
                <div class="contento">
                    <p>
                        Specialist In: Mechanical, Blast Cleaning, Metalizing & Painting Works.
                    </p>
    
                </div>
    
            </div>
        </div>
        <div class="footerPart2">
            <div class="copyright">
                <p>&copy; Almas Colour Coating 2023. All rights reserved.</p>
            </div>
        </div>
    </footer>


    <script src="js/script.js"></script>
</body>

</html>