<%- include('./partials/header') %>

<body>
    <nav class="navbar">
        <div class="logo">
           <a href="/"> <img src="resources/footerlogo1.png" alt="Company Logo"></a>
        </div>
       
    </nav>

<div class="contact-container">
    <h2>Connect with us here </h2>
    <div class="contact-block">
        <h3>For queries and help contact us here:</h3>
        Email: azadk522@gmail.com
    </div>
    <div class="contact-block">
        <h3>Reach us on phone here:</h3>
       Phone: +91 9760887400
    </div>
    <div class="contact-block">
        <h3>Visit our our main office here:</h3>
        Address: F-99 Almas House, Near Shri Guru Nanank Degree College, Rudrapur-263153, Uttarakhand
    </div>
</div>

<%- include('./partials/footer') %>