<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Almas Colour Coating</title>
    <link rel="shortcut icon" href="resources/footerlogo1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/27c4e72872.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="resources/logo.png" alt="Company Logo">
        </div>
        <button class="mobile-toggle" id="mobile-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </button>
        <ul class="nav-list" id="nav-list">
            <li ><a href="/">Home</a></li>
            <li ><a href="/services">Our Services</a></li>
            <li class="active"><a href="/projects">Our Projects</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="connect-list">
            <li><a href="/contact"><i class="fa-solid fa-headset fa-xl" style="color: #787878;"></i> &nbsp;Connect with
                    us </a></li>
        </ul>
    </nav>

    <!-- image carousel -->
    <!-- ... -->
    

    <!-- ... -->

    <!-- section 2 -->

    <div class="customers">
        <h2>Previous works</h2>
        <div class="block-container">
            <div class="blocks">
                <img src="resources/anya.png" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque distinctio eius tempora,
                    obcaecati, cumque atque eveniet quidem et optio nesciunt beatae exercitationem quia temporibus cum
                    dignissimos officiis iste porro neque.</p>
            </div>
            <div class="blocks">
                <img src="resources/anya.png" alt="">
                <p>lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque in optio pariatur quasi dolore ea
                    quisquam aspernatur libero dolorem rerum, quam ad enim minima sit cum et maxime fuga rem!</p>
            </div>
            <div class="blocks">
                <img src="resources/anya.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi explicabo veniam animi itaque!
                    Distinctio, officia blanditiis molestiae nostrum natus similique quisquam vero molestias,
                    accusantium quia sed beatae, nemo rerum possimus?</p>
            </div>


        </div>
    </div>

    <!-- footer  -->
    <footer>
        <div class="footerPart1">
            <div class="column-logo">
                <img src="resources/footerlogo1.png" class="logoimg" alt="logo of site">
            </div>

            <div class="column-social">
                <h4>Our Social</h4>
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/aman_pri777/?hl=en"><i
                                class="fa-brands fa-instagram fa-lg"></i>
                            Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook fa-lg"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter fa-lg"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin fa-lg"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="column-about">
                <h4>Info</h4>
                <ul class="footer-links">
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact"> Contact Us &nbsp;<i class="fa-regular fa-comments"
                                style="color: #ffffff;"></i></a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Terms & Condition</a></li>
                </ul>
            </div>

            <div class="column-info">

                <img src="/resources/footerlogo.png" alt="" class="footer-img">

                <div class="contento">
                    <p>
                        Specialist In: Mechanical, Blast Cleaning, Metalizing & Painting Works.
                    </p>

                </div>

            </div>
        </div>
        <div class="footerPart2">
            <div class="copyright">
                <p>&copy; Almas Colour Coating 2023. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script>
        const mobileToggle = document.getElementById('mobile-toggle');
        const navList = document.getElementById('nav-list');
        const connectList = document.querySelector('.connect-list');

        mobileToggle.addEventListener('click', () => {
            navList.classList.toggle('active');
            connectList.classList.toggle('active'); // Toggle connect list visibility
        });


    </script>

    <script src="js/script.js"></script>
</body>

</html>