<%- include('./partials/header') %>

    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="logo">
                <img src="resources/logo.png" alt="Company Logo">
            </div>
            <button class="mobile-toggle" id="mobile-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
            <ul class="nav-list" id="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Our Services</a></li>
                <li class="active"><a href="/projects">Our Projects</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
            <ul class="connect-list">
                <li><a href="/contact"><i class="fa-solid fa-headset fa-xl" style="color: #787878;"></i> &nbsp;Connect
                        with
                        us </a></li>
            </ul>
        </nav>


        <main class="project-container">
            <h2>Our Top Projects</h2>

            <div class="project">
                <img src="resources/img1.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 1</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="project">
                <img src="resources/img1.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 2</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="project">
                <img src="resources/img1.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 3</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <h2>Other Projects</h2>
            <div class="other-projects">
                <ul class="project-list">
                    <li><a href="#">Project Title 6</a></li>
                    <li><a href="#">Project Title 7</a></li>
                    <li><a href="#">Project Title 8</a></li>
                    <li class="download"><i class="fa-solid fa-download" style="color: #3882dd;"></i><a
                            href="/downloadList">Click here to download list of our works</a></li>
                    <!-- Add more project links as needed -->
                </ul>
            </div>
        </main>

        <%- include('./partials/footer') %>