<%- include('./partials/header', {cssName:cssName}) %>

    <%- include('./partials/navbar', { activePage: activePage }) %>


        <main class="project-container">
            <h2>Our Top Projects:</h2>

            <div class="project">
                <img src="resources/img10.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 1</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="project">
                <img src="resources/img5.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 2</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="project">
                <img src="resources/img2.jpg" alt="Project 1">
                <div class="project-info">
                    <h2>Project Title 3</h2>
                    <p>Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <h2>Other Projects</h2>
            <div class="other-projects">
                <ul class="project-list">
                    <li><a href="#">Project Title 6</a></li>
                    <li><a href="#">Project Title 7</a></li>
                    <li><a href="#">Project Title 8</a></li>
                    <li class="download"><a href="/downloadList">Click here to download list of our works <i class="fa-solid fa-download" style="color: #3882dd;"></i></a></li>
                    <!-- Add more project links as needed -->
                </ul>
            </div>
        </main>

        <%- include('./partials/footer') %>