<%- include('./partials/header') %>

    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="logo">
                <img src="resources/logo.png" alt="Company Logo">
            </div>
            <button class="mobile-toggle" id="mobile-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
            <ul class="nav-list" id="nav-list">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/services">Our Services</a></li>
                <li><a href="/projects">Our Projects</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
            <ul class="connect-list">
                <li><a href="/contact"><i class="fa-solid fa-headset fa-xl" style="color: #787878;"></i> &nbsp;Connect
                        with
                        us </a></li>
            </ul>
        </nav>

        <div class="services-container">
            <h2>Here are the service that we provide:</h2>
            <div class="services-block">
                <img src="resources/img1.jpg" alt="">
                <div class="service">
                    <h2>Sand Blasting Services</h2>
                    <p style='text-align: justify;'>Our sandblasting services are designed to remove rust, paint, and
                        other contaminants from a variety of surfaces,
                        including metal, concrete, and wood. We use a range of blasting media, including sand, glass
                        beads, and aluminium
                        oxide, to achieve the desired level of surface preparation for each project</p>
                    

                          <b> Wanna know more? </b>
                           <a href="/contact">Contact us now!</a>


                </div>
            </div>
            <div class="services-block">
                <img src="resources/img3.jpg" alt="">
                <div class="service">
                    <h2>Painting Services</h2>
                    <p style='text-align: justify;'>Our painting services include both interior and exterior painting
                        for commercial and industrial clients. We use
                        highquality paints and coatings that are designed to withstand harsh environments and provide
                        long-lasting protection
                        for your assets. Our team is experienced in working with a variety of surfaces, including metal,
                        concrete, and wood,
                        and we can provide customized solutions to meet your specific needs.</p>
                        <b> Wanna know more? </b>
                        <a href="/contact">Contact us now!</a>

                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>