/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Define a background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


/* Style the About section */
.about-section {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.about-content {
    flex: 1;
    padding: 30px;
    background-color: #fff;
}

.about-content h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
}

.about-content p:last-child{

    margin-bottom: 0;
}



.about-image {
    flex: 1;
    background: url('../resources/owner.png') no-repeat center;
    background-size: cover;
}
