/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292828;
    padding: 8px 60px;
    /* padding-right: 75px; */
    position: sticky;
    top: 0;
    z-index: 69;
    border-bottom: 1px solid rgba(175, 175, 175, 0.685);
    margin: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    /* Add this line for the shadow */
}

.logo img {
    max-height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    /* padding-left: 20px; */
}

.nav-list,
.connect-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 30px;
}

.nav-list {
    padding-left: 110px;
}

.nav-list li:hover a {
    color: rgb(180, 223, 242);
    transition: ease-in-out .3s;

}

.nav-list a,
.connect-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.connect-list {
    padding: 0;
    margin: 0;
}

.connect-list li:hover {
    transform: scale(1.05);
    transition: ease-in .3s;
}

.connect-list li:hover a {
    color: #00eeff;
    /* transform: scale(1.05); */
    transition: ease-in .2s;

}

/* .active {

     transform: scale(1.1);
} */

.active a {
    color: #00eeff;
    /* text-decoration: underline; */


}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Mobile menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 100%;
    background-color: white;
    margin: 3px 0;
}


/* **********************navbar ends***************************** */

/* ************************** review form ontainer ***************************** */

/* Container styling */
.review-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 1.5rem;
    border: 1px solid yellow;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.review-form-container {
    position: relative;
    height: 500px;
    /* Adjust this to your desired height */
}

.review-form-container::before {
    content: "";
    background: url('../resources/vid.gif') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: your-animation 10s linear infinite;
    /* Adjust animation properties */
}

@keyframes your-animation {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.05);
    }
}

/* Heading styling */
.review-form-container h1 {
    /* font-size: 24px; */
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    color: white;
    text-shadow: 1px 1px #000000;
    text-emphasis:initial;
}

/* Form styling */
.review-form {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 20px;
    width: 400px;
    margin: 0;
    border: 2px solid #000000;
}

/* Form group styling */
.form-group {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    display: flex;

    align-items: center;


}

/* Input styling */

.form-group label {
    width: 45%;
    /* color:white; */
    
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group textarea {
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
  background-color:   rgba(255, 255, 255, 0)
}


.star {
    font-size: 36px;
    cursor: pointer;
    color: grey;
    margin-left: 10px;
}

/* .star:first-of-type{
    margin-left: 50px;

} */

.star.activate {
    color: gold;
}



textarea {
    resize: vertical;
}

/* Submit button styling */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



/* ******************************image carousel************************************************************* */
.carousel-main {
    border: 1px solid rgb(255, 0, 0);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* border: 5px solid black; */
}

.carousel-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    flex: 1;
    overflow: hidden;
    text-align: center;
    /* Center the image horizontally */
    display: flex;
    justify-content: center;
    /* Center the image vertically */
    align-items: center;
    /* Center the image vertically */
}

.carousel-slide img {
    max-width: 50%;
    /* Make images fit inside the slide */
    max-height: 100%;
    /* Make images fit inside the slide */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}

.active-dot {
    background-color: #fff;
}

/* ********************carousel ends*************************** */

/* ***************************show off************************* */
.systum {
    width: 100%;
    height: 520px;
}

.review-main {
    padding-top: 1.5rem;
    background-color: #eeeaea92;

}

.block-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.blocks {
    /* flex: 1; */
    flex-basis: 20%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1rem;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0px 2px 2px 1px #bab8b9c9;
    height: 300px;
    padding: 1rem;
    background-color: white;
    text-align: left;
    margin-right: 1rem;
}

.blocks h5 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

/* color:white; */
.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid #000000;
}

.blocks p {
    margin: 0;
    padding: 0;
}

.head {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

/* Add this to your CSS file */
.show-star {
    color: grey;
    /* Default grey color for all stars */
    font-size: 28px;
    /* Adjust the font size as needed */
    margin-right: 1px;
    /* Adjust the spacing between stars as needed */
}

.gold-star {
    color: gold;
    /* Gold color for stars with a rating */
}

/* **********************shite *************************************** */
.text-content {
    padding: 1rem;
    text-align: justify;
}

/* ***********************footer************************************* */
footer {
    background-color: #292828;
    color: white;
    padding: 1.5rem 1rem 0.1rem 1rem;

}

.column-logo {
    display: flex;
    align-items: center;
}

.logoimg {
    height: 70px;
    width: 70px;
    margin: auto;
}

.footerPart1 {
    display: flex;
    justify-content: space-between;
    background-color: #292828;
    padding: 0 5rem;
    padding-bottom: 1rem;
}


.column-about ul,
.column-social ul {
    padding: 0;
    margin: 0;
}

.column-about li,
.column-social li {
    padding-bottom: 0.4rem;

}

.column-about h4,
.column-social h4 {
    margin: 0;
    margin-bottom: .8rem;
}

.footer-links {
    list-style: none;
}

.footer-links li a {
    font-size: 15px;


}

.footer-links li:hover {
    transition: 0.3s ease-in;
    color: rgb(55, 190, 234);
    transform: scale(1.02);
}

.column-info {
    display: flex;
    align-items: center;
    width: 430px;
}

.contento {
    font-size: 15px;
}

.footer-img {
    width: 250px;
    height: 150px;

}


.footerPart2 {
    text-align: center;
    border-top: 1px solid #d8d6d6;
    /* padding: 0.5rem; */
}

.footerPart2 p {
    font-size: 12px;
    padding: 0;
}



/*  */

.mobile-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Existing styles... */


@media (max-width: 768px) {
    .mobile-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fcf9f9;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 20px;
    }

    .nav-list.active {
        display: block;
    }


    .navbar {
        padding: 10px;
    }

    .connect-list {
        list-style: none;
        display: none;
        /* Hide connect list by default */
        align-items: center;
    }

    .connect-list.active {
        display: flex;
        /* Show connect list when active */
    }

    .connect-list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .connect-list i {
        margin-right: 10px;
    }
}