body{
    background-color: rgb(242, 240, 240);

}


.services-container{
    padding: 1.5rem;
    padding-bottom: 0;

}

.services-block{
    background-color: white;
    border: 1.5px solid rgb(220, 219, 219);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.services-block img{

    height: 250px;
    width:30%;
}

.service{
    width: 60%;
    margin: 0 auto;
}
.service a{
    color: rgb(48, 89, 192);
    padding: 0;
    margin: 0;
}
